body{
  background: url('./images/CMSCreativeKingfisher.jpg?size=100');
}


.bg1{
  background: url('./images/download.png?size=2');
}

.bg2{
  background: url('./images/CMSCreativeKingfisher.jpg');
}